*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.navbar{
  width: 100vw !important; 
  height: 55px !important;
}

.navbar-content{
  font-size: 1rem !important;
  font-weight: bold !important;
}

.showcase{
  padding:2%;
}
.cart-container{
  display:flex;
  justify-content: center;
}
.start-showcase{
  background: url('https://images.unsplash.com/photo-1501349800519-48093d60bde0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.start-showcase-content{
  width: 60%;
  text-align: center;
  padding:20px
}
.item-card{
  width: 600px;
}
.vector-image{
  width:100%;
  max-width: 600px;
  max-height: 600px;
}

@media screen and (max-width:1000px){
  .list-item{
    min-width: fit-content !important;
  }
}

@media screen and (max-width:598px){
  .item-card{
    width:100%;
    display:flex;
    flex-direction: column;
  }

  .start-showcase-content{
    width: 100%;
    text-align: center;
    padding:20px
  }
  .start-showcacse-heading{
    width: 100%;
    padding:10px;
  }
}
@media screen and (min-width:599px){
  .product-image{
    max-width: 400px;
    height: 400px;
  }
  
}

@media screen and (max-width:1440px){
  .cart-container{
    display:flex !important;
    flex-direction: column !important;
    align-items: center;
  }
}

@media screen and (max-width:400px){
  .navbar-heading{
    font-size:0.80rem !important;
  }
  .navbar-content{
    font-size:0.70rem !important;
    padding: 4px 6px !important;
  }
  .cart-icon{
    font-size:1rem !important;
  }
  .cart-button{
    min-width:fit-content !important;
    padding:1px !important;
  }
}

